h1{
    text-align: center;
    font-family: monospace;
    background-color: #3D3B40;
    color: white;
    margin-bottom: 0;
    font-size: 75px;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #BFCFE7;
}

nav div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    height: 45px;
}

.navLinks{
    font-size: 20px;
}